In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.array([[1000,25],[280, 120], [900, 30]]),columns = ['unit price', 'number'], index=['store1','store2','store3'])
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [3]:
df['total price'] = df['unit price'] * df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [4]:
df2 = df.sort_values(by="total price", ascending=False)
df2

        unit price  number  total price
store2         280     120        33600
store3         900      30        27000
store1        1000      25        25000