In [23]:
import pandas as pd
df1 = pd.read_csv('gender2.csv', encoding='ANSI')
df2 = df1[["2022년_계_총인구수", "2022년_남_총인구수", "2022년_여_총인구수"]]
df2.head()

  2022년_계_총인구수 2022년_남_총인구수 2022년_여_총인구수
0   51,439,038   25,636,951   25,802,087
1    9,428,372    4,570,048    4,858,324
2    3,317,812    1,619,915    1,697,897
3    2,363,691    1,162,865    1,200,826
4    2,967,314    1,485,175    1,482,139

In [25]:
# 총 인구수 total, 남 총 인구수(Male), 여 총 인구수(Female)
df2.columns = ["Total", "Male", "Female"]
df2.head()

        Total        Male      Female
0  51,439,038  25,636,951  25,802,087
1   9,428,372   4,570,048   4,858,324
2   3,317,812   1,619,915   1,697,897
3   2,363,691   1,162,865   1,200,826
4   2,967,314   1,485,175   1,482,139